# See https://nextjs.org/docs/app/building-your-application/configuring/environment-variables
NEXT_PUBLIC_NHOST_SUBDOMAIN=
NEXT_PUBLIC_NHOST_REGION=
NEXT_PUBLIC_NHOST_BACKEND_URL=
NEXT_PUBLIC_APP_URL=http://localhost:3000
